// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.title {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card button:hover, a:hover {
  opacity: 0.7;
}

.btn-primary {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  margin-top: 50px;
   }

#contactForm {
  margin-bottom: -20px;	
}

#message {
  height: 145px;	
}

.card {
  border-radius: 15px;
}

.card:hover {
  box-shadow: 10px 8px 42px 0 rgba(48, 50, 50, 0.51);
  transition: 0.5s;
}

.card img {
  border-top-right-radius: 15px;
  width: 100%;
  border-top-left-radius: 15px;
}

