<!-- Footer -->
<footer id="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Made with <i class="fas fa-heart"></i> by <a href="https://github.com/Natdenice">Nathaniel D.</a> & <a href="https://github.com/nikitavasilev">Nikita V.</a></span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/stackoverflow">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/officialstackoverflow/">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/company/stack-overflow/">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>